<table class="table text-center">
  <%= render partial: 'holidays' %>
</table>


<div class = "text-center"> 
  <div class = "col-md-12 col-sm-12 col-lg-12">
    <% if current_user.admin? %> 
      <%=link_to "Add a holiday", new_holiday_path, class: 'btn btn-success'%>
    <% end %>
  </div>
</div>