<%= link_to "New search for duplicates", child_find_duplicates_path(Child.first), class: "btn btn-success duplicates" %> 

<tr class=""></tr>
<% if matches.count >= 1 %> 
  <tr> 
    <th>Percent Match</th> 
    <th>Name</th> 
    <th>Grade</th> 
    <th>Campus</th> 
    <th>Parent Email</th> 
    <th> </th> 
  </tr> 
      <%matches.each do |match| %> 
        <tr> 
        <td rowspan="2"> <%=match.amount%></td>
        <%= render partial: 'match_rows', locals: {child: match.child(1)}%> 
        </tr> 
        <tr> 
        <%= render partial: 'match_rows', locals: {child: match.child(2)}%> 
        </tr> 
      <% end %>
<% else %> 
  <div class= "text-center"> 
    <td> No duplicates found. </td>  
  </div> 
<% end %> 
</table>
<!-- 
This is the view the parent sees when editing their child's lunches.  -->