<table class="table text-center">
  <% if current_user.children.count >= 1 %>  
    <%= render partial: 'children' %>
<%end%>

<div class = "container"> 
  <div class = "col-md-12 col-sm-12 col-lg-12">
    <% if current_user.parent? %> 
      <%=link_to "Add a child", new_user_child_path(current_user), class: button_class %>
    <% end %>
  </div>
</div>





<!-- #, data: { confirm: 'Are you sure?' } -->
