<div class="jumbotron text-center">
  <h1> Lunch Summaries </h1> 
    <% @summaries.each do |summary|%>
    <div class = "row">
      <a href=<%=summary_path(summary.id)%>>
        <div> <%=summary.name%> </div> 
      </a>
    </div>
    <%end%>
</div>
<!-- Add lunch summaries pages (2.0) ECD students, ECD faculty, DWT students, DWT faculty, 
 Grand totals.;  -->