<tr> 
  <th><h3> <%= title %> </h3></th>
  <%i = 0 %> 

  <% lunches.times do %> <!-- Once for each lunch choice. --> 
    <!-- i stands for lunch number.  -->
      <td><%=LunchChoice.all_faculty_count_by_date_and_grade(i, date, grade, decision)%></th>
    <%i += 1 %>
  <% end %> 
  <td><%= LunchChoice.sum(9, date, grade, decision){|a,b,c,d| LunchChoice.all_faculty_count_by_date_and_grade(a,b,c,d)}%></td>
  <th>TOTAL</th>
</tr>





