<tr> 
  <th><h3> <%= title %> </h3></th>
  <%i = 0 %> 

  <% lunches.times do %> <!-- Once for each lunch choice. --> 
    <!-- i stands for lunch number.  -->
      <td><%=LunchChoice.count_by_date_and_grade(i, date, menu_id, grade, role, decision=nil)%></th>
    <%i += 1 %>
  <% end %> 
  <th>TOTAL</th>
</tr>





