<tr> 
  <th><h4> <%= title %></h4></th>
   <!-- TODO: Move this to a controller.  -->
  <%i = 0 %> 
  <% number_of_columns.times do %> <!-- Once for each lunch choice. --> 
    <!-- i stands for lunch number.  -->
      <td><%=LunchChoice.column_totals(i, date, menu_id, grade_range, role)%></th>
      <%i += 1 %>
  <% end %> 
  <td><%= LunchChoice.fac_RH_sum(date, menu_id, grade_range, role, number_of_columns)%></td> 
</tr>




