 <tr> 
  <td> <%="#{grade} Gr-#{type}"%></td>
  <td> TOTALS </td>  <!-- Once for each lunch choice. I really need a helper method here.--> 
    <!-- i stands for lunch number.  -->
    <% render_appropriate_cells(date, grade, type) %>
</tr>




