<div class="col-sm-1 col-md-1 col-lg-1 lunch_box %>">
    <%= link_to "#{lunch.name}", edit_lunch_path(lunch), class: '' %>
</div> 

<!-- Make another partial for this and use it in menu#edit.  -->

<!-- link_to "", lunch, method: :delete, class: 'btn btn-xs btn-danger' -->