/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome.scss";
@import "children.scss";
@import "admin_panel.scss";
@import "summaries.scss";
// @import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

html {
  min-height: 100%;
}

body {
  font-family: 'PT sans', 'Lucida Grande', 'Helvetica Neue', sans-serif;
  height:100vh;
  background-image: url("http://i.imgur.com/tW01Tq4.jpg"); 
  background-repeat: true;
  .container {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100%;
    color: black;
    border-top-right-radius: 59px;
    border-top-left-radius: 59px;
    border-bottom-right-radius: 59px;
    border-bottom-left-radius: 59px;
    box-shadow: 14px 4px 1px rgb(22, 22, 22);
  }
}

h1 {
  font-style: bold;
  font-weight: 800;
}

ul {
  margin: 0 auto;
  width: 50%;
}
li a {
  color: black;
  font-style: bold;
  letter-spacing: 0.4px;
}

.nav-tabs {
  // border-bottom: 1px solid #ddd;
  padding-left: 3%;
  background-color: rgba(255, 255, 255, 0.72);
  border-bottom-left-radius: 112px;
  border-bottom-right-radius: 112px;
  box-shadow: 1px 4px 4px grey;
}

.nav-tabs > li > a {
  margin: 0 0 12% 0;
  line-height: 4;
  border: 1px solid transparent;
  height: 50px;
  font-family:'PT sans', 'Lucida Grande', 'Helvetica Neue', sans-serif;
}

.nav-tabs > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 3px 1px rgba(200, 200, 200, 1);
  box-shadow: none;
}

a p {
  color: black;
  text-decoration: none;
  /* text-overflow: ellipsis; */
  font-style: normal;
  font-family:'PT sans', 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size:14px; 
  letter-spacing: 1px;
}
.alert {
  border: 1px solid transparent;
  border-radius: 0px;
  position: absolute;
  text-align: center;
  background-color: rgba(100, 175, 175, 0.8);
  color: white;
  width: 100%;
  bottom: 0;
  letter-spacing: 1px;
  text-shadow: 1px 0px 0px grey; 
  box-shadow: 3px 3px 2px rgba(6, 6, 6, 0.3);
}

// a.btn.btn-success.btn_bottom.btn-lg.btn-midpage{
//   margin: 0px auto 50px auto;
//   width: 41%;
// }

// a.btn.btn-success {
//   min-width: 90px;
//   margin: 22px auto;
// }

// .btn {
//   min-width:190px;
// }

.text-center.child_notice {
  margin: 88px auto 38px auto;
  height: 20%;
  width: 50%;
}


// .alert {
//   margin: 5% 0 2% 1.6%;
// }

.row .lunch_type_drink {
  height: 23.3333333333px;
  display: block;
  clear: right;
  margin: 0 auto; 
  padding-top: 4px;
  width: 77.7px;
  color:white;
}

.chosen {

  background-color: rgba(245, 245, 245, 0.34);
  border-color: #d6e9c6;
  box-shadow: 1px 1px 5px white;
}

.unchosen {
  // box-shadow: 2px 2px 2px -1.5px grey;
}
.lunch_row {
  height: 155px;
  width: 100%;
  margin: 0 auto;
}

.center_column {
  margin: 0 auto 0 auto; 

}
.btn {
  border-radius: 0px;
  border: 2.8px solid white;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.5px;
  color: white;
  font-weight: 500;
  box-shadow: 3px 3px 2px rgba(6, 6, 6, 0.3);
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 4px 6px rgba(6, 6, 6, 0.55);
  border: 2.8px solid white;
  letter-spacing: 0.7px;
  text-shadow: 0px 2px 1px grey; 
}
.btn_bottom {
  margin: 0 0 50px 0;
}

.lunch_description {
  font-size: 0.8em; 
}
.date_box {
  text-decoration: none;
  clear: none;
  display: inline-block;
  padding: 15px 0 20px 0;
  height: 100%;
  letter-spacing: 2.3px;
}
.lunch_box {
  text-decoration: none;
  color: grey;
  clear: none;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 0 44px 0 0px;
}

.panel_container {
  padding: 42px 0 0 0;
}

