// Place all the styles related to the summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .sum_button {
//   clear: right;
//   margin-right: 100%;
//   margin-bottom: 50px;
// }

// a:first-of-type {
//   margin-top: 10%; 
// }



th {
  text-align: left; 
}

.summary {
  background-color:rgba(255, 255, 255, 0.8); 
  border-radius: 0px; 
}