// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("http://i.imgur.com/tW01Tq4.jpg");
  background-size: 100%;
  background-repeat: repeat;
  height: 100%;
}

html, body {
  min-height:100vh; 
}

span {
  font-weight:100;
  font-style: normal;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}


h1 {
  font-size: 150%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
  color: #fff;
}

.title-top {
  font-size: 36px;
  width: 84%;
  .white_box {
    padding: 0 9% 0 0; 
  }
}

#lower_logo {
  margin: -14% 0 0 30.8%;
}

#upper_logo {

}

#sign_up_btn {
  margin: 18.5% 0 0 0;
}
// .background_image {
//   background-image: url("http://i.imgur.com/tW01Tq4.jpg");
//   background-size: 100%;
//   background-repeat: no-repeat;
//   height:100%;
//   //background-position-y: -700px;
// }




.square {
  min-height: 600px;
  min-width: 200px;
  max-width: 700px;
  margin: 0% auto;
  padding: 6% 0 0 0;
  background-color: rgba(0, 0, 0, 0.44);
  color: white;
}

.actions {
  margin: 8% 0 8% 0;
  text-align: center;
}

.actions.signin {
  margin: 15.6% 0 0 0;
}
.sign-up-box:after {
  background-color:grey;
  height:50px;
  width:1px;
}

.md-btn {
  width: 57%;
}

.sign-in-btn {
  margin: 8.8% 0 0 0;
}

.btn {
  border-radius: 0px;
  background-color: rgba(0, 62, 131, 0);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  box-shadow: 2px 3px 0 rgba(255, 255, 255, 1);}

.btn:hover {
  border: 1px solid #003e83;
  background-color: #003e83;
  color:white;
}

input {
  border-radius: 5px;
}

.alert {
  padding: 13px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  background-color: rgba(70, 175, 175, 0.8);
  color: white;
  width: 100%;
  letter-spacing: 1px;
}
